@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

:root {
    --section-bg: darkslategrey;
    --cor-fav: #77DD77;
    --font-padrao: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--section-bg);
    font-family: var(--font-padrao);
}

.banner {
    width: 100%;
    filter: brightness(50%);
}

.container {
    margin: -4px auto;
    max-width: 800px;
    background-color: rgb(47, 58, 79);
    box-shadow: black 0 0 6px 0;
    border-radius: 0 0 10px 10px;
}

.vh {
    height: 30vh;
}

.perfil {
    background-image: linear-gradient(to bottom, var(--section-bg), rgba(0, 0, 0, 0.473));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.padding {
    padding: 30px;
}

#li {
    border: solid var(--cor-fav) 2px;
    box-shadow: #77DD77 0 0 6px 0;
    max-width: 125px;
    border-radius: 50%;
}

h1 {
    color: var(--cor-fav);
}

.tres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), var(--section-bg));
    border-radius: 0 0 10px 10px;
}

.tres img {
    width: 100px;
    transition: .5s;
}

.tres img:hover {
    width: 110px;
    filter: drop-shadow(black 0 0 6px);
}

#id {
    width: 100px;
    height: 100px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 1em;
    text-align: center;
    padding: 15px;
}


/*
ul li {
    list-style: none;
    display: inline-flex;
}

ul li img {
    max-width: 150px;
}
*/

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 150px;
}

ul li img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.bg {
    background-color: rgba(0, 0, 0, 0.473);
    height: auto;
}