body {
    background-color: #1C2331;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding-top: 3em;
}

header img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #77DD77;
    box-shadow: #77DD77 0px 0px 40px 0px;
}

.center {
    text-align: center;
}

.container {
    padding: 0px 50px;
}
img {
    width: 150px;
}

figure {
    text-align: center;
    margin-bottom: 5em auto;
}
footer img {
    width: 100px;
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

h1 {
    color: #77DD77;
}

#borda {
    border-radius: 50%;
}

#msc {
    border-radius: 10%;
}

#mato img {
    border-radius: 20px;
}

figure {
    padding: 1em;
}