body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #77DD77;
}

.center {
    text-align: center;
}

.container {
    padding: 0px 50px;
}

figcaption {
    margin-bottom: 3em auto;
}

img {
    width: 150px;
}

figure {
    text-align: center;
    margin-bottom: 5em auto;
}

figcaption {
    margin: 1em auto;
}

footer img {
    width: 60px;
    height: 60px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}